{{#each msgs}}
  <li>
    <img src={{this.author.avatar}} width="40" class="py-1 rounded-circle" />
    <span>
      <strong style="color: green;">
        {{this.author.email}}
      </strong>
      &nbsp
      <span style="color: red;">
        [
        {{this.timeStamp}}
        ]
      </span>
      &nbsp
      <span style="color: black;">
        {{this.author.alias}}
        :
      </span>
      &nbsp
      <em style="color: green;">
        {{this.text}}
      </em>
    </span>
  </li>
{{/each}}